#admin_rooms {
  .table-bx {
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f4f7f7;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-color: #c9c3c3;
    }
    // Firefox scrollbar
    scrollbar-width: thin;
    scrollbar-color: #c9c3c3 #f4f7f7;
  }
}
.carsoul-bx {
  button {
    cursor: pointer;
  }
}
