/**--- Ads Section Css ---**/
#guestSlider_section {
  .carousel-item {
    position: relative;
    padding-inline-start: 30px;
    padding-top: 30px;
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      inset-inline-start: 0;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border: 2px solid #e5e5e5;
    }
    &:lang(en)::after {
      border-radius: 15px 15px 100px 15px;
    }
    &:lang(ar)::after {
      border-radius: 15px 15px 15px 100px;
    }
    img {
      position: relative;
      z-index: 999;
      &:lang(en) {
        border-radius: 15px 15px 100px 15px;
      }
      &:lang(ar) {
        border-radius: 15px 15px 15px 100px;
      }
    }
  }
  .prev-btn {
    bottom: 100px;
    inset-inline-start: calc(100% / 3);
    span {
      width: 40px;
      height: 40px;
    }
  }
  .next-ptn {
    bottom: 100px;
    inset-inline-start: calc(100% / 3 + 80px);
    transform: rotate(180deg);
    span {
      width: 40px;
      height: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    .prev-btn {
      bottom: 250px;
      inset-inline-start: calc(50% - 40px);
      span {
        width: 40px;
        height: 40px;
      }
    }
    .next-ptn {
      bottom: 250px;
      inset-inline-start: calc(50% + 20px);
      transform: rotate(180deg);
      span {
        width: 40px;
        height: 40px;
      }
    }
  }
}
