/**--- Item Card Css ---**/
#item_card {
  .img-bx {
    border-radius: 16px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.34);
  }
  .data-holder {
    background: linear-gradient(
      180.1deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 99.91%
    );
  }
  .hover-card {
    opacity: 0;
    background: rgba(32, 63, 199, 0.21);
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
  }
  &:hover .hover-card {
    opacity: 1;
    transform: translateY(0);
  }
}
