/**--- Banner Section Css ---**/
#banner_section {
  .date_bx {
    .opacity-1 {
      opacity: 100% !important;
    }
    input {
      padding-inline-start: 75px;
      background-color: #f5f6f8;
    }
  }
  .slider_holder {
    position: relative;
    padding-inline-end: 30px;
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      inset-inline-end: 0;
      width: calc(100% - 30px);
      height: 100%;
      border-radius: 100px 15px 15px 15px;
      border: 2px solid #e5e5e5;
    }
  }
  #slider_bx {
    &:lang(ar) {
      direction: ltr;
    }
    button {
      display: none !important;
    }
  }
}
