#addAds {
  div.h-10 {
    height: auto !important;
  }
  .status-select {
    div.h-11 {
      height: auto !important;
    }
    button{
      height: 56px;
      border-radius: 14px;
    }
  }

  input {
    height: 56px;
    border-radius: 14px;
    border-color: #f5f6f8;
    background-color: #f5f6f8;

    &:lang(en) {
      font-family: myEnFont;
    }

    &:lang(ar) {
      font-family: myArFont;
    }
  }
  select {
    height: 56px;
  }

  .rooms_select {
    input {
      height: 42px;
    }

    .css-t3ipsp-control,
    .css-13cymwt-control {
      border-radius: 14px;
      border-color: #f5f6f8;
      background-color: #f5f6f8;
    }

    .css-t3ipsp-control {
      box-shadow: 0 0 0 1px #1f1f1f;
    }
  }
}
